@use './variables' as *;

body {
    background-color: $body-color;

    .main-container {
        max-width: 1920px;
    }

    .sub-container {
        margin: 0 60px;
        width: auto;
    }
}

