@use './header' as *;
@use '../variables' as *;

.hero {
    height: 782px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-image: url('/assets/images/banner/bannerImageMobile.jpg');
    background-repeat: no-repeat;
    @media (min-width: $breakpoint-mobile) {
      height: 877px;
      background-image: url('/assets/images/banner/bannerImage.jpg');
      background-repeat: no-repeat;
      background-position: top;
      background-attachment: fixed;
    }
  
    img {
      width: 100%;
      height: auto;
      display: block; 
      max-width: 100%;
      object-fit: cover;
    }
  }
  